/*----------------------------

    Размер экрана планшета

-----------------------------*/
@media (max-width: 1370px) {
	/*----------------------------

    		общие сущности

	-----------------------------*/

  	.fixed-container {
<<<<<<< HEAD
		max-width: 1300px;
        width: 100%;
        padding: 0 4%;
=======
        width: 1024px;
        padding: 0 40px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
    }
	
	.button_orange{
		padding: 23px 55px;
    	width: 320px;
    	text-align: center;
	}

	.button_footer-request {
		margin-top: 1px;
<<<<<<< HEAD
		padding: 12px 51px;
		width: auto;
=======
		padding: 12px 59px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

	/*----------------------------

    		сущности хидера

	-----------------------------*/
	.header {
<<<<<<< HEAD
		background-position: calc(50% + 330px) calc(100% + 138px);
		background-size: 675px;
	}
	
	.nav-menu__nav-button{
		/*display: block;*/
	}
	
	.nav-menu-list{
		/*display: none;*/
=======
		background-position: calc(50% + 330px) bottom;
		background-size: 50%;
	}
	
	.nav-menu__nav-button{
		display: block;
	}
	
	.nav-menu-list{
		display: none;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

	.header-about-me{
		padding-top: 43px;
    	margin-right: 0;
	}

<<<<<<< HEAD
	.header-about-me-name {
		font-size: 54px;
		padding-top: 193px;
		margin-right: 0;

		letter-spacing: -1px;
		word-spacing: -4px;
=======
	.header-about-me-name{
		font-size: 54px;
    	padding-top: 193px;
    	margin-right: 0;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.header-about-me-name__career{
		padding-top: 20px;
	}
<<<<<<< HEAD

	.header-about-me__photo {
		margin-left: 14px;
		margin-top: -16px;
=======
	
	.header-about-me__photo{
		margin-left: 14px;
    	margin-top: 15px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}


	/*летающие тэги*/
	.header-flying-tags_bracket {
<<<<<<< HEAD
		top: 132px;
		left: calc(50% - 437px);
=======
		top: 111px;
		left: 250px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}


	.header-flying-tags_div {
<<<<<<< HEAD
		top: 123px;
		left: calc(50% + 375px);
=======
		top: 117px;
		left: 1058px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}


	.header-flying-tags_octothorpe {
<<<<<<< HEAD
		top: 575px;
		left: calc(50% - 456px);
	}

	.header-flying-tags_div-second {
		display: none;
		top: 607px;
		left: calc(50% + 342px);
=======
		top: 569px;
		left: 230px;
	}

	.header-flying-tags_div_second {
		display: none;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}


	.header-flying-tags_slash {
<<<<<<< HEAD
		top: 594px;
		left: calc(50% - 373px);
	}

	.header-flying-tags_slash-second {
		top: 180px;
		left: calc(50% - 92px);
=======
		top: 546px;
		left: 531px;
	}

	.header-flying-tags_slash_second {
		top: 181px;
		left: 583px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		display: block;
		font-size: 48px;
		transform: rotate( 0.03turn );
	}
	
	/*----------------------------

    		сущности main

	-----------------------------*/
	
	.fixed-container_main-section-aside{
		margin: 0 auto;
    	max-width: 1024px;
    	padding: 0 40px;
	}

    .main-section{
		padding-top: 85px;
    	padding-bottom: 105px;
	}

	.main-section_aside {
		padding-top: 74px;
		padding-bottom: 65px;
	}

	.main-section_portfolio {
		padding-top: 87px;
		padding-bottom: 97px;
	}

    .main-section__contetnt-title{
		margin-right: 28px;
	}

	.main-section__contetnt-title_w1370 {
		margin-right: 4px;
	}

    .activity{
<<<<<<< HEAD
		margin: auto;
	    margin-top: 88px;
    	margin-bottom: 74px;
    	justify-content: center;
		max-width: 1050px;
=======
	    margin-top: 88px;
    	margin-bottom: 74px;
    	justify-content: center;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

    .activity-item{
		width: 273px;
	}
	
	.activity-item:nth-child(2) {
    	margin-left: 113px;
    	margin-right: 9px;
    	margin-bottom: 57px;
	}
	
	.activity-item:nth-child(3) {
    	margin-right: 113px;
	}
	
	.activity-item:nth-child(4) {
    	margin-right: 9px;
	}

<<<<<<< HEAD
	.swiper-wrapper {
		margin-bottom: 149px;
=======
    .swiper-wrapper{
		margin-bottom: 86px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		margin-top: 98px;
	}
	
	.swiper-wrapper__item{
		width: 455px;
	}
	
	.swiper-wrapper__item:nth-child(3) {
    	display: none;
	}
	
    .swiper-wrapper__info{
		font-size: 25px;
    	margin-top: 15px;
	}
    .swiper-pagination{
		display: flex;
    	justify-content: center;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
	}
<<<<<<< HEAD

	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 154px;
	}

	.swiper-pagination__button {
		background-color: #ebebeb;
		margin: 15px;
		padding: 9px;
		border-radius: 20px;
		border: none;
		cursor: pointer;
=======
    .swiper-pagination__button{
		margin: 15px;
    	padding: 9px;
    	border-radius: 20px;
    	border: none;
    	cursor: pointer;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
    .swiper-pagination__button_select{
		background-color: #ff4e2e;
	}
    
    .swiper-button__type{
		display: none;
	}
	
	.button_mar-top-w1370{
		margin-top: 69px;
	}

/*летающие тэги*/
	.aside-flying-tags_bracket {
<<<<<<< HEAD
		top: -11px;
		left: calc(50% - 358px);
=======
		top: -14px;
		left: 326px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		font-size: 34px;
	}

	.aside-flying-tags_div {
<<<<<<< HEAD
		top: 279px;
		left: calc(50% + 0px);
=======
		top: 277px;
		left: 684px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		font-size: 26px;
	}

	.aside-flying-tags_octothorpe {
		top: 0px;
		left: 0px;
		display: none;
	}

	.aside-flying-tags_bracket_second {
		top: 0px;
		left: 0px;
		display: none;
	}

	.aside-flying-tags_slash {
<<<<<<< HEAD
		top: 246px;
		left: calc(50% + 360px);
=======
		top: 244px;
		left: 1045px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	} 
	
	/*----------------------------

    		сущности footer

	-----------------------------*/
	
	.footer{
		padding-top: 99px;
	}
    .footer__copyright{
		margin-top: 57px;
	}
    
    .contacts{
		margin-left: 82px;
	}
    
    .contact__link_mail{
		background-size: 21px;
    	background-position: 1px 8px;
    	padding-left: 45px;
	}

    .contact__link_phon{
		background-size: 17px;
    	background-position: left 1px center;
    	padding-left: 38px;
	}

    .footer-request-social{
	    margin-left: 122px;
    	flex-basis: 247px;
	}
	
	.button_footer-request-w1370{
		margin-right: 0;
    	padding: 12px 59px;
	}
}


/*------------------------------

    Размер экрана мобильника

-------------------------------*/
<<<<<<< HEAD
@media (max-width: 1023px) {
=======
@media (max-width: 768px) {
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	/*----------------------------

    		общие сущности

	-----------------------------*/

	.fixed-container {
<<<<<<< HEAD
		width: 100%;
		max-width: 1000px;
		padding: 0 6%;
		overflow: visible;
	}

	.button {
		/*		не меняется*/
=======
		width: 320px;
		padding: 0 20px;
	}
	
	.button{
/*		не меняется*/
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.flex-wrap{
/*		не меняется*/
	}
	
	.button_orange{
		padding: 18px 76px;
    	width: auto;
		order: 2;
    	font-size: 16px;
	}

	.button_w1024 {
		padding: 17px 82px;
	}

	.button_footer-request {
		margin-top: 0px;
		padding: 17px 76px;
		background: #ff4e2e;
		color: #FFF;
	}

	/*----------------------------

    		сущности хидера

	-----------------------------*/
	.header {
<<<<<<< HEAD
		background: url(../../img/header/back_mobile.svg);
		padding-top: 26px;
		background-repeat: no-repeat;
		/*padding-bottom: 1%;*/
		background-size: 381px;
		background-position: calc(50%) calc(0% + 150px);
		overflow: initial;
=======
		padding-top: 26px;
		padding-bottom: 7px;
		background-size: 381px;
		background-position: center bottom;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.nav-menu{
		flex-basis: auto;
	}
<<<<<<< HEAD

	.nav-menu__nav-button{
		padding: 12px;
		display: block;
	}

	.nav-menu-list {
		margin-top: 0px;
		background: #fbfbfb;
		padding: 20px;
		position: absolute;
		z-index: 100;
		box-shadow: 0px 0px 10px 13px rgba(34, 60, 80, 0.2);
		border-radius: 10px;
	}


	.nav-menu-list {
		/*display: none;*/
		min-height: 0;
		height: 0;
		padding: 0;
		opacity: 0;
		overflow: hidden;
		transition: 1s;
	}

	/*раскрытие гамбургер меню*/
	.nav-menu-hide {
		/*display: block;*/
		min-height: auto;
		height: auto;
		padding: 20px;
		opacity: 1;
		transition: 1s;
	}

	.nav-menu-list__item {
		list-style-type: none;
		display: block;
		padding-bottom: 7px;
=======
	
	.nav-menu__nav-button{
		padding: 12px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.header-phon{
		font-size: 18px;
    	margin-top: 2px;
    	margin-right: 35px;
<<<<<<< HEAD
		margin: auto;
=======
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.button_header-w1024{
		font-size:0;
		padding: 13px;
    	border: none;
    	background: url(../../img/header/phoneButton.png);
    	background-repeat: no-repeat;
    	background-size: contain;
<<<<<<< HEAD
		border-radius: 20px;
=======
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.header-about-me{
		height: auto;
    	flex-wrap: wrap;
    	text-align: center;
    	justify-content: center;
    	padding: 0px;
<<<<<<< HEAD
    	margin-bottom: -186px;
=======
    	margin-bottom: -190px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
    	margin-top: 83px;
	}

	.header-about-me-name{
		padding-top: 12px;
    	order: 1;
    	font-size: 30px;
	}
	
	.header-about-me-name__career{
		padding-top: 7px;
    	padding-bottom: 24px;
    	font-size: 16px;
    	line-height: 1.5em;
	}
	
	.header-about-me__photo{
		order: 0;
    	margin-left: 56px;
    	margin-top: 0;
	}

	/*летающие тэги*/
	.header-flying-tags_bracket {
<<<<<<< HEAD
		top: 88px;
		left: calc(50% - 112px);
=======
		top: 74px;
		left: 274px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		font-size: 24px;
	}

	.header-flying-tags_div {
<<<<<<< HEAD
		top: 119px;
		left: calc(50% + 83px);
=======
		top: 124px;
		left: 468px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		font-size: 19px;
		transform: rotate( 0.05turn );
	}

	.header-flying-tags_octothorpe {
<<<<<<< HEAD
		top: 174px;
		left: calc(50% - 125px);
		font-size: 30px;
	}

	.header-flying-tags_div-second {
=======
		top: 172px;
		left: 261px;
		font-size: 30px;
	}

	.header-flying-tags_div_second {
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		top: 0px;
		left: 0px;
		font-size: 24px;
		display: none;
	}


	.header-flying-tags_slash {
<<<<<<< HEAD
		top: 86px;
		left: calc(50% - 104px);
		font-size: 21px;
	}

	.header-flying-tags_slash-second {
=======
		top: 61px;
		left: 396px;
		font-size: 21px;
	}

	.header-flying-tags_slash_second {
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
		display: none;
	}
	
	/*----------------------------

    		сущности main

	-----------------------------*/
	
	.fixed-container_main-section-aside{
<<<<<<< HEAD
		padding: 0 6%;
    	margin: auto;
    	width: 100%;
		max-width: 1000px;
=======
		padding: 0 18px;
    	margin: auto;
    	width: 320px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

	.main-section {
		padding-bottom: 51px;
		padding-top: 223px;
	}

	.main-section_aside {
		padding-top: 42px;
		padding-bottom: 28px;
	}

	.main-section_portfolio {
		padding-top: 42px;
		padding-bottom: 49px;
	}

    .main-section__contetnt-title{
		margin-right: 0;
		margin: 0;
    	font-size: 30px;
	}

    .main-activity-button{
		padding: 16px 69px;
	}

	.activity {
<<<<<<< HEAD
		margin: auto;
		margin-top: 43px;
		margin-bottom: 3px;
		max-width: 800px;
=======
		margin-top: 43px;
		margin-bottom: 3px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

	.activity-item:nth-child(1n){
		margin: 0;
    	margin-bottom: 33px;
    	background-size: 60px;
	}

    .activity-item__info{
	    margin-top: 74px;
    	font-size: 16px;
	}

    .swiper-container{
		
	}

    .swiper-wrapper{
		margin-top: 40px;
    	margin-bottom: 34px;
	}

    .swiper-wrapper__item{
		width: 280px;
	}
	
	.swiper-wrapper__item:nth-child(2) {
    	display: none;
	}
	
    .swiper-wrapper__info{
		font-size: 18px;
    	margin-top: 12px;
	}

    .swiper-pagination__button{
		margin: 8px;
    	padding: 5px;
	}

<<<<<<< HEAD
	.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
		bottom: 98px;
	}

=======
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
    .aside-text{
	    font-size: 28px;
    	line-height: 1.45em;
	}

    .aside-text-desc{
		margin-top: 32px;
    	font-size: 15px;
    	line-height: 2em;
    	padding-left: 17px;
    	display: block;
	}

    .aside-text-desc__small{
		font-size: 15px;
	}

    .aside-text-desc__word-wrap{
		display: none;
	}

	.button_mar-top-w1370 {
<<<<<<< HEAD
		margin-top: 71px;
=======
		margin-top: 24px;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

	/*летающие тэги*/
	.aside-flying-tags_bracket {
		top: 0px;
		left: 0px;
		font-size: 34px;
		display: none;
	}

	.aside-flying-tags_div {
		top: 0px;
		left: 0px;
		font-size: 26px;
		display: none;
	}

	.aside-flying-tags_octothorpe {
		top: 0px;
		left: 0px;
		display: none;
	}

	.aside-flying-tags_bracket_second {
		top: 0px;
		left: 0px;
		display: none;
	}

	.aside-flying-tags_slash {
		top: 0px;
		left: 0px;
		display: none;
	} 
	
	/*----------------------------

    		сущности footer

	-----------------------------*/
	
	.footer{
		padding-top: 41px;
	}

<<<<<<< HEAD
	.footer-nav {
		margin-right: 12%;
	}

=======
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	.footer__copyright {
		font-size: 12px;
		margin-top: 41px;
		padding-top: 19px;
	}

    .footer-nav__item{
		font-size: 15px;
    	margin-bottom: 15px;
	}

<<<<<<< HEAD
	.footer-contacts {
		margin: 0;
		margin-right: 5%;
		margin-top: 26px;
		font-size: 20px;
		color: #8993ad;
		flex-basis: auto;
=======
    .footer-contacts{
		margin: 0;
    	margin-top: 26px;
    	font-size: 20px;
    	color: #8993ad;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}

    .contacts{
		margin: 0;
	}

    .contact{
		margin-bottom: 22px;
	}

    .contact__link{
		background-size: 14px;
<<<<<<< HEAD
    	background-position: left center;
	}

	.footer-request-social {
		margin-top: 2px;
		margin-left: 0;
		flex-basis: 100%;
		margin: 2px auto 0;
		flex-basis: auto;
=======
		padding-left: 33px;
    	background-position: left center;
	}

    .footer-request-social{
	    margin-top: 2px;
    	margin-left: 0;
    	flex-basis: 100%;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
	
	.button_footer-request-w1370{
		margin-right: 0;
    	padding: 17px;
    	text-align: center;
    	background-color: #ff4e2e;
    	color: #fff;
	}
<<<<<<< HEAD

	.social-group {
		margin-top: 50px;
		margin-bottom: 0;
		/*display: flex; 
		justify-content: space-evenly;*/
=======
	
    .social-group{
	    margin-top: 50px;
    	margin-bottom: 0;
>>>>>>> 28446da9ced29e3f296886508e2004adeea3cd18
	}
}