.contact__link_phon {
    padding-left: 44px;
    background: url("../../../../../img/footer/call-answer-svg.svg");
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: left 7px center;
}
