.header-about-me-name__career{
    display: block;
    font-size: 25px;
    /* margin-top: 14px; */
    padding-top: 14px;
    /* margin-bottom: 45px; */
    padding-bottom: 45px;
    color: #8993ad;
    letter-spacing: -0.3px;
}