.nav-menu__nav-button{
    display: none;
    margin-left: 0px;
    margin-right: 5px;
    padding: 22px;
    border: none;
    background-color: transparent;
    background: url(../../../../img/header/HamburgerButton.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}