/*----------------------------

    На случий, если js не работает

-----------------------------*/

@media (max-width: 1370px) {

    
}

@media (max-width: 1023px) {
    
    .no-js .menu-open__closed{

    }

    .no-js .nav-menu-list {
        /*display: block;*/
        min-height: auto;
        height: auto;
        padding: 20px;
        opacity: 1;
        transition: 1s;
    }

    .no-js main{

    }
}